* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 38px 0;
}

.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__header .burger {
    flex-grow: 8;
}

.container__header .header__links {
    flex-grow: 3;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__link {
    display: block;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.header__link span {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.header__link img {
    margin-right: 10px;
}

.about {
    background-color: #0d267b;
    margin-top: 78px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.about__title img {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.about__description p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
}

.advantages h2 {
    color: #000000;
    font-size: 48px;
    font-weight: 400;
}

.about {
    min-height: 367px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.about__description {
    background-color: #ffffff;
}

.advantages__item__img {
    display: block;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
}
