* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 38px 0;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 400;
}

section {
    margin-top:80px
}

/* HEADER */
.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__header .burger {
    flex-grow: 8;
}

.container__header .header__links {
    flex-grow: 3;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__link {
    display: block;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
}

.header__link span {
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.header__link img {
    margin-right: 10px;
}

/* ABOUT */
section.about {
    background-color: #0d267b;
}

.about_container {
    min-height: 367px;
    display: flex;
    flex-wrap: wrap;
}

.about_block {
    height: 367px;
    flex-grow: 1;
}

.about__title {
    display: flex;
    justify-content: space-around
}

.about__title__item {
    align-items: center;
    display: flex;
    line-height: 34px;
    text-align: center;
}

.about__description {
    box-sizing: border-box;
    background-color: #ffffff;
    padding-top: 50px;
    text-align: center;
}

.about__description p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 40px;
}

/* ADVANTAGES */
.advantages h2 {
    color: #000000;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.advantages__item__img {
    display: block;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: center;
}
